<div class="app">
  <h1>Github Repo List</h1>
  <br/>
  <input type="text" value={{username}} onkeyup={{action updateUsername}} placeholder="Username...">
  <repo-list @username={{username}} />
</div>